
importClassesFrom(methods, ANY, character, list, logical, matrix, missing, "NULL", numeric, vector)
importFrom("methods", "as", "is", "new", "validObject", "slotNames")
importFrom("stats", "runif", "quantile", "rbinom", "setNames")
importFrom("utils", "read.csv", "read.table")
importFrom("graphics", "par", "plot")

exportClasses(catNetwork, catNetworkEvaluate, catNetworkDistance, CPDAG)

useDynLib(catnet)

exportMethods(
	cnNumNodes, cnNodes, 
	cnSubNetwork, cnReorderNodes, 
	cnEdges, cnMatEdges, 
	cnParents, cnMatParents, 
	cnProb, cnPlotProb, cnSetProb, 
	cnNodeMarginalProb, cnJointProb, cnCondProb, 
	cnComplexity, cnOrder, 
	cnPlot, cnDot,
	cnSamples, 
	cnLoglik, cnNodeLoglik, 
	cnFind, cnFindAIC, cnFindBIC, cnFindKL, 
	cnPredict, 
	cnKLComplexity, 
	cnCompare, 
	cnParHist, 
	cnCluster, cnClusterSep)

export(
	cnNew, cnRandomCatnet, 
        cnCatnetFromSif, cnCatnetFromBif, cnCatnetFromEdges, 
	isDAG, dag2cpdag, 
	cnNodeSampleLoglik, cnNodeSampleProb, 
	cnDiscretize, 
	cnSearchOrder, cnSearchSA,
	cnSearchHist,
	cnEntropy, cnEntropyOrder, 
	cnEdgeDistanceKL, cnEdgeDistancePearson, 
	cnClusterMI, cnPearsonTest,
	cnSetSeed)

